body{
    font-family: "Poppins";
    background-color: rgb(244, 244, 244);
    overflow: hidden;
}
.main-content{
    display: flex;
    gap: 35px;
}
.main-content__task{
    display: block;
    margin: 91px auto 0;
    flex: 0 0 71%;
    /* margin-left: 300px; */
}
.task-header{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
.svg-icons{
    width: 24px;
    height: 24px;
    fill: #7F8C8D;
}
.svg-icons:hover{
    fill: #3498DB;
}
.tasks{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.task-item{  
    width: 530px;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.task-item__header{
    display: flex;
    justify-content: space-between;
}
.task-item__progress--signed{
    height: 20px;
    background-color: #2ECC71;
    font-size: 11px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.task-item__progress--inprogress{
    height: 20px;
    background-color: #F39C12;
    font-size: 11px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.task-item__progress--building{
    height: 20px;
    background-color: #E74C3C;
    font-size: 11px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.task-item__progress--signed:hover,
.task-item__progress--inprogress:hover,
.task-item__progress--building:hover{
    opacity: 0.7;
}
.task-item__title{
    width: 400px;
    font-weight: 500;
    font-size: 15px;
    overflow-wrap: break-word;
    line-height: 22px;
    letter-spacing: 0.01em;
}
.task-item__desc{
    font-size: 13px;
    color: #7F8C8D;
    padding-top: 10px;
}
.desc-items{
    font-size: 12px;
    color: #7F8C8D;
    line-height: 20px;
    letter-spacing: 0.01em;
    position: relative;
    left: 90px;
    top: -16px;
}
.task-item__desc span{
    opacity: 0.5;
    padding-right: 20px;
}
.task-item__profile{
    display: flex;
    font-size: 13px;
    color: #7F8C8D;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.profile-name{
    display: flex;
    align-items: center;
}
.task-item__menu-dot{
    color: #7F8C8D;
    transform: scale(1.5);
    position: relative;
    right: 0;
    cursor: pointer;
}
.svg-task-avatar{
    height: 24px;
    width: 50px;
    padding-right: 15px;
}
.link-red{
    color: #E74C3C;
    text-decoration: underline;
}
.link-blue{
    color: #3498DB;
    text-decoration: underline;
}
/* modal window */
.modal {
    position: absolute;
    top: -950px;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #00000050;
    backdrop-filter: blur(5px);
    font-family: 'Poppins';
    color: #7F8C8D;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
  .modal-show{
    top: 0;
  }
.modal__inner {
    background: #ffffff;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 4px;
    padding:  25px 16px;
}
  
.modal__top {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}
  .modal__title {
    flex-grow: 1;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
  }
  
  .modal__close {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    gap: 6px;
    font-size: 16px;
    color: #7F8C8D;
  }
  .modal__close:hover,
  .modal__close:hover .svg-icons{
    color: #3498DB;
    fill: #3498DB;
  }
  
  .modal__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .svg-location{
    position: absolute;
    margin-left: -40px;
    margin-top: 10px;
  }
  .svg-down-arrow{
    position: absolute;
    top: 306px;
    right: 396px;
  }
  .svg-down-two{
    position: absolute;
    top: 506px;
    right: 396px;
  }
  .modal__content select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 50px;
    display: block;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }

  .modal__content input,
  .modal__content select{
    align-items: center;
    padding: 10px 16px;
    color: #7F8C8D;
    border: 1px solid #7F8C8D;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 10px;
    font-family: "Poppins";
  }
  input::placeholder{
    color: #7F8C8D;
  }
.svg-hidden{
    max-width: 0;
}

@media only screen and (max-width: 1300px) {
    .main-content__tasks{
        margin-left: 100px;
    }
  }