body{
    font-family: "Poppins";
    background-color: rgb(244, 244, 244);
    overflow: hidden;
}
.main-content{
    display: flex;
    gap: 35px;
}
.main-content__task{
    display: block;
    margin-top: 91px;
    flex: 0 0 80%;
    margin-left: 300px;
}
.task-header{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
.svg-filter{
    width: 24px;
    height: 24px;
}
.svg-bars{
    width: 24px;
    height: 24px;
}
.svg-search{
    width: 24px;
    height: 24px;
}
.svg-plus{
    width: 24px;
    height: 24px;
}
.tasks{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.task-item{  
    width: 530px;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.task-item__header{
    display: flex;
    justify-content: space-between;
}
.task-item__progress--signed{
    height: 20px;
    background-color: #2ECC71;
    font-size: 11px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.task-item__progress--inprogress{
    height: 20px;
    background-color: #F39C12;
    font-size: 11px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.task-item__progress--building{
    height: 20px;
    background-color: #E74C3C;
    font-size: 11px;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.task-item__progress--signed:hover,
.task-item__progress--inprogress:hover,
.task-item__progress--building:hover{
    opacity: 0.7;
}
.task-item__title{
    width: 400px;
    font-weight: 500;
    font-size: 15px;
    overflow-wrap: break-word;
    line-height: 22px;
    letter-spacing: 0.01em;
}
.task-item__desc{
    font-size: 13px;
    color: #7F8C8D;
    padding-top: 10px;
}
.desc-items{
    font-size: 12px;
    color: #7F8C8D;
    line-height: 20px;
    letter-spacing: 0.01em;
    position: relative;
    left: 90px;
    top: -16px;
}
.task-item__desc span{
    opacity: 0.5;
    padding-right: 20px;
}
.task-item__profile{
    display: flex;
    font-size: 13px;
    color: #7F8C8D;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.profile-name{
    display: flex;
    align-items: center;
}
.task-item__menu-dot{
    color: #7F8C8D;
    transform: scale(1.5);
    position: relative;
    right: 0;
    cursor: pointer;
}
.svg-task-avatar{
    height: 24px;
    width: 50px;
    padding-right: 15px;
}
.link-red{
    color: #E74C3C;
    text-decoration: underline;
}
.link-blue{
    color: #3498DB;
    text-decoration: underline;
}
.svg-hidden{
    max-width: 0;
}

@media only screen and (max-width: 1300px) {
    .main-content__tasks{
        margin-left: 100px;
    }
  }